---
layout: default
---
<div class="container text-center">
 <h1>Open Source at MessageMedia</h1>
 <p class="lead">We're excited about helping developers build and share software.</p>
</div>

{% include projects-begin.html category="Messages SDKs" %}
{% for repository in site.github.public_repositories %}
  {% if repository.private == false %}
    {% if repository.name contains 'messages' %}
      {% include project.html %}
    {% endif %}
  {% endif %}
{% endfor %}
{% include projects-end.html %}

{% include projects-begin.html category="Lookups SDKs" %}
{% for repository in site.github.public_repositories %}
  {% if repository.private == false %}
    {% if repository.name contains 'lookups' %}
      {% include project.html %}
    {% endif %}
  {% endif %}
{% endfor %}
{% include projects-end.html %}

{% include projects-begin.html category="REST SDKs" %}
{% for repository in site.github.public_repositories %}
  {% if repository.private == false %}
    {% if repository.name contains 'messagemedia-rest-api' %}
      {% include project.html %}
    {% endif %}
  {% endif %}
{% endfor %}
{% include projects-end.html %}

{% include projects-begin.html category="SOAP SDKs" %}
{% for repository in site.github.public_repositories %}
  {% if repository.private == false %}
    {% comment %} Improve this is better naming convention(s) {% endcomment %}
    {% if repository.name contains 'messagemedia-soap-api' %}
      {% include project.html %}
    {% endif %}
  {% endif %}
{% endfor %}
{% include projects-end.html %}

{% include projects-begin.html category="Projects" %}
{% for repository in site.github.public_repositories %}
  {% if repository.private == false %}
    {% comment %} Improve this is better naming convention(s) {% endcomment %}
    {% if repository.name contains 'messagemedia-soap-api'
       or repository.name contains 'messagemedia-rest-api' %}
    {% else %}{% include project.html %}
    {% endif %}
  {% endif %}
{% endfor %}
{% include projects-end.html %}

<!--
{% include projects-begin.html category="Forks" %}
{% for repository in site.github.public_repositories %}
  {% if repository.private == false and repository.fork == true %}
    {% include project.html %}
  {% endif %}
{% endfor %}
{% include projects-end.html %}
-->
